In [ ]:
import os # for file path
import csv # for reading csv file

current_dir = os.getcwd() #get current working dir
print(current_dir)
path_budget_data = os.path.join (current_dir, "Resources", "budget_data") # get csv file path
print(path_budget_data)

In [ ]:
def read_csv_file(Module_2_Challenge\PyBank\Resources\budget_data):
    data = []
    with open(Module_2_Challenge\PyBank\Resources\budget_data, 'r') as file:
        reader = csv.DicReader(file)
        for row in reader:
            data.append(dict(row))
    return data

In [2]:
import pandas as pd
import numpy as np
from pathlib import Path

In [3]:
budget_data_csv = Path("Resources/budget_data.csv")
budget_data_df = pd.read_csv(budget_data_csv)
budget_data_df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [4]:
#1 The total number of months included in the dataset
Month_Count_budget_data_df =budget_data_df.count(axis='rows')
print(Month_Count_budget_data_df)

Date             86
Profit/Losses    86
dtype: int64

In [5]:
#2 The net total amount of Profit/Losses over the entire period
Net_Total_df = budget_data_df['Profit/Losses'].sum()
print(Net_Total_df)

38382578

In [7]:
# The changes in Profit/Losses over the entire period
def changes_Profit_Losses(budget):
    change = []
    for i in range(1, len(budget)):
        current_number = budget[i]
        previous_number = budget[i-1]
        net_change = current_number - previous_number
        change.append(net_change)
    return change


print(changes_Profit_Losses(budget_data_df["Profit/Losses"]))

[116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]

In [18]:
#3 The average of the changes in Profit/Losses over the entire period

def changes_Profit_Losses(budget):
    change = []
    for i in range(1, len(budget)):
        current_number = budget[i]
        previous_number = budget[i-1]
        net_change = current_number - previous_number
        change.append(net_change)
    return change

def cal_average_changes(change):
    average_change = (sum(change)/len(change))
    return average_change

change = changes_Profit_Losses(budget_data_df["Profit/Losses"])
average_change = cal_average_changes(change)

print(average_change)

-2315.1176470588234

In [29]:
#4 The greatest increase in profits (date and amount) over the entire period
def changes_Profit_Losses(budget):
    change = []
    for i in range(1, len(budget)):
        current_number = budget[i]
        previous_number = budget[i-1]
        net_change = current_number - previous_number
        change.append(net_change)
    return change

def greatest_increase(change):
    temp = 0
    for i in range(len(change)):
        if change[i] > temp:
            temp = change[i]
    return temp


change = changes_Profit_Losses(budget_data_df["Profit/Losses"])
temp = greatest_increase(change)

print(temp)



greatest_increase_date = budget_data_df.loc[budget_data_df["Profit/Losses"] == max(budget_data_df["Profit/Losses"]), 'Date']
print(greatest_increase_date)

1926159
25    Feb-2012
Name: Date, dtype: object

In [31]:
#5 The greatest decrease in losses (date and amount) over the entire period
def changes_Profit_Losses(budget):
    change = []
    for i in range(1, len(budget)):
        current_number = budget[i]
        previous_number = budget[i-1]
        net_change = current_number - previous_number
        change.append(net_change)
    return change

def greatest_decrease(change):
    temp = 0
    for i in range(len(change)):
        if change[i] < temp:
            temp = change[i]
    return temp


change = changes_Profit_Losses(budget_data_df["Profit/Losses"])
temp = greatest_decrease(change)

print(temp)


greatest_decrease_date = budget_data_df.loc[budget_data_df["Profit/Losses"] == min(budget_data_df["Profit/Losses"]), 'Date']
print(greatest_decrease_date)

-2196167
44    Sep-2013
Name: Date, dtype: object